#content img {
    max-width: 100%;
    height: auto;
}

.nt-bg-primary {
    background-color: #375A82 !important;
}


.nt-bg-secondary {
    background-color: #375A82 !important;
}

.nt-bg-accent {
    background-color: #95B4A2 !important;
}